# Ignorar la carpeta .terraform y archivos de estado de Terraform
terraform/.terraform/
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# No ignores los archivos de configuración principales
# (main.tf, variables.tf) sí deben estar en el repo